
// 头部
$bg:#C14462;
header,footer{
	position:fixed;
	width:100%;
}
header{
	top:0;
	height:14%;
	.container{ height:100%;}
	.row{
		height:50%;
		background:$bg;
		display:flex;
		align-items:center;
		&:nth-child(2){
			background:#fff;
		}
	}

}
footer{
	bottom:0;
	background:$bg;
	height:7%;
}